<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12">
                <img class="footer-logo" src="/assets/images/logo2.png" alt="logo picture">
            </div>
            <div class="col-md-6">
                <hr class="light">
                <h5>CONTACTS</h5>
                <hr class="light">
                <p>phone number</p>
                <p>email address</p>
                <p>street</p>
                <p>city, state, code</p>
            </div>
            <div class="col-md-6">
                <hr class="light">
                <h5>OUR HOURS</h5>
                <hr class="light">
                <p>Paragrraph text</p>
                <p>Paragrraph text</p>
                <p>Paragrraph text</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; website.com</h5>
            </div>
        </div>
    </div>
</footer>