/*---Footer Section --*/
h5, p {
    color: #fff;
}
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 1rem;
    margin-top: 5rem;
}

hr.light {
    border-top: 1px solid #d5d5d5 !important;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5 !important;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.footer-logo {
    width: 100px;
    height: 100px;
}

/*---Icons --*/

.fa-code {
    color: #e54d26;
}

.fa-bold {
    color: #563d7c;
}

.fa-css3 {
    color: #2163af;
}

.fa-code, .fa-bold, .fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

/*---Connect Section --*/

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.social a:hover {
    color: white;
}

.fa-facebook:hover {
    color: #4669b4;
    transform: scale(1.2);
}

.fa-twitter:hover {
    color: #00aced;
    transform: scale(1.2);
}

.fa-github:hover {
    color: rgb(187, 2, 187);
    transform: scale(1.2);
}

.fa-instagram:hover {
    color: #517fa4;
    transform: scale(1.2);
}

.fa-linkedin:hover {
    color: #157efb;
    transform: scale(1.2);
}

.fa-facebook, .fa-twitter, .fa-github, .fa-instagram, .fa-linkedin {
    color: #d5d5d5;
}

/*---Media Queries --*/

@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .display-4 {
        font-size: 200%;
    }

    .social a {
        font-size: 3.5em;
        padding: 1.2rem;
    }
}

@media (max-width: 576px) {
    .display-4 {
        font-size: 160%;
    }

    .social a {
        font-size: 2.5em;
        padding: .7rem;
    }
}