<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12">
                <img class="footer-logo" src="./assets/images/logo2.png" alt="logo picture">
            </div>
            <div class="row col-12 text-center social padding">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <hr class="light">
                <h5>CONTACTS</h5>
                <hr class="light">
                <p>+447502788083</p>
                <p>ynbusiness@gmail.com</p>
                <p>Victoria Street</p>
                <p>Preston, PR1 7AB</p>
            </div>
            <div class="col-md-6">
                <hr class="light">
                <h5>WORKING HOURS</h5>
                <hr class="light">
                <p>Monday - Friday 12-18</p>
                <p>Satusrday - day off</p>
                <p>Sunday - day off</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; Yan Nikolaev</h5>
            </div>
        </div>
    </div>
</footer>