/* BASE CSS */

.container-fluid {
    height: 75vh;
}

.menu {
    height: 10vh;
    width: 95vw;
}

span {
    font-size: .6rem;
}

img {
    width: 200px;
    height: 200px;
}

.warning {
    width: 100%;
}

/* ICONS */

.modify-icons {
    font-size: .8rem;
    margin: .2rem 0;
    opacity: 1;
}

/* BOARD CANVAS */

#board {
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden !important;
    padding-bottom: 8px;
    max-height: 75vh;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    min-height: 45vh;
}

.list-row {
    display: inline-block;
    width: 100%;
}

.list-row p {
    margin-top: 0 !important;
}

.list-col {
    position: relative;
    display: flex;
    flex-direction: row;
}

.list-group {
    max-height: 45vh;
    overflow: auto;
    overflow-y: auto;
    white-space: pre-line;
}

.list-group li {
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    margin: 5px 5px;
}

.list-icon-left {
    opacity: 1;
    cursor: pointer;
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 25px;
}

.list-icon-right{
    opacity: 1;
    cursor: pointer;
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 5px;
}

.fa-times-circle,
.fa-ban,
.fa-wrench,
.fa-check {
    color: #553f7a;
}

.fa-times-circle:hover,
.fa-ban:hover,
.fa-wrench:hover,
.fa-check:hover {
    color: #d1befa;
}

/* CARDS */

.card {
    display: inline-block;
    width: 292px !important;
    height: 100% !important;
    margin: 0 .8rem 1.5rem 0;
    vertical-align: top;
    white-space: nowrap;
    flex: 0 0 auto;
    box-shadow: 0 0.125rem 0 0 #d1befa !important;
    border-radius: .125rem;
}

.card-title {
    padding: .5rem 0 .5rem 0;
    position: static;
}

.card-body {
    background-color: #e3d9f9;
    padding: .1rem .75rem !important;
}

.card-header a {
    color: white;
    cursor: pointer;
    height: 100% !important;
    width: 100%;
}

.card-header p {
    color: white;
}

.card-header {
    background-color: #3D1255;
    color: white;
}

.card-header.light-header {
    background-color: #e3d9f9 !important;
    color: black !important;
    width: 100%;
    display: flex;
    padding: .2rem .5rem;
}

.card-header.light-header a {
    color: #3D1255 !important;
    width: 100%;
}

.card-header.light-header a:hover {
    color: #9775AA !important;
}

.card-header:first-child {
    border-radius: 0 0 0 0;
}

.list-group-item:first-child {
    border-top: 1px solid #D7D7D7 !important;
}

.card-footer {
    background-color: #e3d9f9;
    color: black !important;
    padding: .2rem .25rem !important;
}

/* INPUTS */
.input-full {
    width: 210px !important;
}
.input-form {
    margin: 0 0 5px 0;
}

input[type=text],
select,
textarea {
    width: 85%;
}

/* BUTTONS */

.input-form button {
    min-width: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: .15rem 0 .25rem 0;
    font-size: 18px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin: 0 0 0 5px;
}

.back {
    width: 20%;
    margin-top: 40px;
    font-size: .7rem;
}

/*--- Draggable Objects --*/
.draggable {
    cursor: pointer;
    user-select: none;
}

.dragging {
    opacity: 0.5;
}

.movable:not(.dragging) {
    transition: transform 300ms ease-in-out;
}