<div class="container-fluid padding">
    <section class="menu d-flex justify-content-between">
        <section class="d-flex justify-content-start">
            <button (click)="openEditor = !openEditor" class="btn btn-primary btn-icon" data-toggle="collapse" href="#cardInput">
                <i class="fa fa-credit-card fa-lg"></i> Create Card
            </button>
        </section>
        <section class="d-flex justify-content-end" *ngIf="successMessage" @alertHeader>
            <ngb-alert [type]="alertType" [dismissible]="false" (close)="successMessage = null">
                ({{ dateAlert | date:'shortTime' }}) {{ successMessage }}
            </ngb-alert>
        </section>
    </section>
    <div class="collapse clearfix" id="cardInput">
        <div class="row">
            <div class="col-md-5 offset-md-3 col-sm-12 col-xs-12">
                <form [formGroup]="cardForm" (ngSubmit)="cardSubmit()">
                    <div class="card-header">
                        <strong>Add Card</strong>
                    </div>
                    <div class="card-block">
                        <div class="card-title">
                            Name:
                        </div>
                        <div class="card-text">
                            <input type="text" formControlName="name">
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title">
                            Description:
                        </div>
                        <div class="card-text">
                            <input type="text" formControlName="description">
                        </div>
                        <div class="card-title">
                            Label:
                        </div>
                        <div class="card-text">
                            <input type="text" formControlName="label">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit" [disabled]="!cardForm.valid" data-toggle="collapse" href="#cardInput">Add</button>
                        <button (click)="openEditor = !openEditor" class="btn btn-primary-outline" type="button" data-toggle="collapse" href="#cardInput">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- If editor is opened, board section hides-->
    <section *ngIf="!openEditor" id="board" [@boardAnimation]="state">
        <div *ngIf="!ifEmpty; else errorBlock" class="scrolling-wrapper" [@listAnimation]="cards.length">
            <div *ngFor="let card of cards; let i = index; first as isFirst" [attr.data-index]="i" class="card">
                <section>
                    <div class="card-body clearfix">
                        <a class="float-left modify-icons">
                            <i class="far fa-edit"></i>
                        </a>
                        <a (click)="removeCard(i, card._id, card.name)" class="float-right modify-icons">
                            <i class="far fa-trash-alt"></i>
                        </a>
                        <h5 class="card-title text-center">{{ card.name }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div [@itemAnimation]="card.items && card.items.length">
                            <li *ngFor="let item of card.items; let x = index;" class="list-group-item" (mouseover)="item.hover=true" (mouseleave)="item.hover=false">
                                <div class="row list-row">
                                    <div class="col-11 list-col">
                                        {{ item.text }}
                                    </div>
                                    <div (click)="removeItem(x, i, card._id, item._id)" *ngIf="item.hover" [ngStyle]="{'opacity':item.hover === true ? '1' : '0' }"
                                        class="col-1 list-col list-icon">
                                        <i class="fas fa-times-circle"></i>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <li *ngIf="!card.items || card.items.length==0" class="list-group-item">
                            <div class="row list-row">
                                <p class="text-center col-12">Empty Card</p>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body">
                        <form [formGroup]="itemForm" (ngSubmit)="itemSubmit(i, card)">
                            <div class="input-form">
                                <input type="text" name="text" formControlName="text" placeholder="Add item" autocomplete="off">
                                <button type="submit" class="btn btn-primary border-0 rounded-circle">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary back" (click)="gotoBoards()">Back</button>
</div>
<ng-template #errorBlock>
    <section class="row warning justify-content-center" @errorHeader>
        <ngb-alert [dismissible]="false" class="col-8">
            <picture class="col-3">
                <img src="../../../assets/images/pb-icon-wrn.png" alt="Purple Board Icon">
            </picture>
            <h1 class="col-7 offset-1">
                No Cards
            </h1>
        </ngb-alert>
    </section>
</ng-template>