<div class="container-fluid padding">
    <button class="btn btn-primary btn-icon" data-toggle="collapse" href="#boardInput">
        <i class="fa fa-file fa-lg"></i> Create Board
    </button>
    <div class="collapse" id="boardInput">
        <div class="row">
            <div class="col-md-5 offset-md-3 col-sm-12 col-xs-12">
                <form [formGroup]="boardForm" (ngSubmit)="onSubmit()">
                    <div class="card-header">
                        <strong>Add Board</strong>
                    </div>
                    <div class="card-block">
                        <div class="card-title">
                            Title:
                        </div>
                        <div class="card-text">
                            <input type="text" formControlName="title">
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title">
                            Description:
                        </div>
                        <div class="card-text">
                            <input type="text" formControlName="description">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit" [disabled]="!boardForm.valid" data-toggle="collapse" href="#boardInput">Add</button>
                        <button class="btn btn-primary-outline" data-toggle="collapse" href="#boardInput">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div *ngIf="!ifEmpty; else errorBlock" class="row text-left" [@boardAnimation]="boards.length">
        <div *ngFor="let board of boards; let i = index; first as isFirst" [attr.data-index]="i" [class.selected]="board._id === selectedId"
            [ngClass]="(isFirst)?'col-xs-12 col-md-6 col-lg-4':'col-xs-12 col-md-6 col-lg-4'">
            <div class="card-header text-center">
                <div class="clearfix">
                    <a class="float-left">Edit</a>
                    <a (click)="remove(i)" class="tooltip tooltip-sm tooltip-top-left float-right" aria-haspopup="true" role="tooltip">
                        <i class="fa fa-trash fa-lg"></i>
                        <span class="tooltip-content">Delete</span>
                    </a>
                    <span class="badge badge-purple">{{ i + 1 }}</span>
                    <a [routerLink]="['/board', board._id]">{{ board.title }}</a>
                </div>

            </div>
            <div class="card-body clearfix">
                <h5 class="card-title">Description:</h5>
                <p class="card-text">{{ board.description }}</p>
                <a [routerLink]="['/board', board._id]" class="btn btn-primary float-md-right">Open Board</a>
            </div>
            <div class="card-footer text-muted">
                <div class="clearfix">
                    <p class="float-left">{{ board.lastUploaded | date:'mediumDate' }}</p>
                    <p class="float-right">
                        {{ board.lastUploaded | date:'shortTime' }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #errorBlock>
        <h1 @errorHeader class="text-center">There are No Boards</h1>
    </ng-template>
</div>