<div class="container-fluid padding">
    <section class="menu d-flex justify-content-between">
        <section class="d-flex justify-content-start">
            <button (click)="openEditor = !openEditor" class="btn btn-primary btn-icon" data-toggle="collapse" href="#cardInput">
                <i class="fa fa-credit-card fa-lg"></i> Create Card
            </button>
        </section>
        <section class="d-flex justify-content-end" *ngIf="successMessage" @alertHeader>
            <ngb-alert [type]="alertType" [dismissible]="false" (close)="successMessage = null">
                <div class="row">
                    <span class="alert-section"> {{ successMessage }} ({{ dateAlert | date:'shortTime' }}) </span>
                </div>
            </ngb-alert>
        </section>
    </section>
    <div class="collapse clearfix" id="cardInput">
        <div class="row">
            <div class="col-md-5 offset-md-3 col-sm-12 col-xs-12">
                <form [formGroup]="cardForm" (ngSubmit)="cardSubmit()">
                    <div class="card-header">
                        <strong>Add Card</strong>
                    </div>
                    <div class="card-block">
                        <div class="card-title">
                            Name:
                        </div>
                        <div class="card-text">
                            <input type="text" formControlName="name">
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title">
                            Description:
                        </div>
                        <div class="card-text">
                            <input type="text" formControlName="description">
                        </div>
                        <div class="card-title">
                            Label:
                        </div>
                        <div class="card-text">
                            <input type="text" formControlName="label">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit" [disabled]="!cardForm.valid" data-toggle="collapse" href="#cardInput">Add</button>
                        <button (click)="openEditor = !openEditor" class="btn btn-primary-outline" type="button" data-toggle="collapse" href="#cardInput">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- If editor is opened, board section hides-->
    <section *ngIf="!openEditor" id="board" [@boardAnimation]="state">
        <div *ngIf="!ifEmpty; else errorBlock" class="scrolling-wrapper" [@listAnimation]="cards.length" appSortableList (sort)="sort($event)">
            <div *ngFor="let card of cards; let i = index; first as isFirst" [attr.data-index]="i" class="card" appSortable>
                <!-- HostBinding (draggable.directive.ts) add class 'draggable' to 'card' class-->
                <section>
                    <div class="card-header light-header" (mouseover)="card.hover=true" (mouseleave)="card.hover=false; card.editable=false; ifCardEdit=false"
                        (click)="card.movable=true">
                        <!-- Icon to accept changes -->
                        <div class="flex-grow-1">
                            <a *ngIf="card.editable==true" (click)="editCard(i, card._id, card.name); card.editable=false; ifCardEdit=false" class="modify-icons">
                                <i class="fas fa-check"></i>
                            </a>
                            <!-- Icon to enter edit mode -->
                            <a *ngIf="card.editable!=true" (click)="editCardState(card.name, card._id); card.editable=ifCardEdit" class="modify-icons">
                                <i class="far fa-edit"></i>
                            </a>
                        </div>
                        <div class="flex-grow-1">
                            <!-- Card title -->
                            <h5 *ngIf="card.editable!=true" class="card-title text-center">{{ card.name }}</h5>
                            <!-- Card edit form -->
                            <form *ngIf="card.editable==true" [formGroup]="editCardForm" class="card-title text-center">
                                <input class="text-center" type="text" name="name" formControlName="name" autocomplete="off">
                            </form>
                        </div>
                        <div class="flex-grow-1">
                            <!-- Icon to delete card -->
                            <a *ngIf="card.editable!=true" (click)="removeCard(i, card._id, card.name)" [ngClass]="(card.hover==true) ?'visible':'hidden'"
                                class="modify-icons">
                                <i class="float-right far fa-trash-alt"></i>
                            </a>
                            <!-- Icon to discard changes -->
                            <a *ngIf="card.editable==true" (click)="card.editable=false; ifCardEdit=false" class="modify-icons">
                                <i class="float-right fas fa-ban"></i>
                            </a>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <div [@itemAnimation]="card.items && card.items.length">
                            <li *ngFor="let item of card.items; let x = index;" class="list-group-item" (mouseover)="item.hover=true" (mouseleave)="item.hover=false; item.editable=false; ifItemEdit=false">
                                <div class="list-row">
                                    <div class="list-col">
                                        <!-- Item text field -->
                                        <p *ngIf="item.editable!=true"> {{ (item.text.length>100)? (item.text | slice:0:100)+'..':(item.text)
                                            }}
                                        </p>
                                        <!-- Input if editable mode is on -->
                                        <form *ngIf="item.editable==true" [formGroup]="editItemForm">
                                            <input class="input-full" type="text" name="text" formControlName="text" autocomplete="off">
                                        </form>
                                    </div>
                                    <!-- Icon to accept changes -->
                                    <div *ngIf="item.editable==true" (click)="editItem(x, i, card._id, item._id, item.text); item.editable=false; ifItemEdit=false"
                                        class="list-icon-left">
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <!-- Icon to enter edit mode -->
                                    <div *ngIf="item.hover && (!item.editable || item.editable===false)" (click)="editItemState(item.text,item._id); item.editable=ifItemEdit"
                                        class="list-icon-left">
                                        <i class="fas fa-wrench"></i>
                                    </div>
                                    <!-- Icon to delete item -->
                                    <div *ngIf="item.hover && (!item.editable || item.editable==false)" (click)="removeItem(x, i, card._id, item._id)" class="list-icon-right">
                                        <i class="fas fa-times-circle"></i>
                                    </div>
                                    <!-- Icon to discard changes -->
                                    <div *ngIf="item.editable==true" (click)="item.editable=false; ifItemEdit=false" class="list-icon-right">
                                        <i class="fas fa-ban"></i>
                                    </div><!-- list-col -->
                                </div><!-- list-row -->
                            </li>
                        </div>
                        <li *ngIf="!card.items || card.items.length==0" class="list-group-item">
                            <div class="row list-row">
                                <p class="text-center col-12">Empty Card</p>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body" draggable="false">
                        <form [formGroup]="itemForm" (ngSubmit)="itemSubmit(i, card)">
                            <div class="input-form">
                                <input type="text" name="text" formControlName="text" placeholder="Add item" autocomplete="off">
                                <button type="submit" class="btn btn-primary border-0 rounded-circle">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary back" (click)="gotoBoards()">Back</button>
</div>

<h2>Part 1 - draggable directive</h2>
<section class="container-fluid">
    <div class="box" appDraggable>
        Draggable
    </div>

    <h2>Part 2 - movable directive</h2>
    <div class="box" appMovable [appMovableReset]="true">
        <div class="box" appMovable>
            Movable 1
        </div>

        <div class="box" appMovable [appMovableReset]="true">
            Movable 2
        </div>
    </div>

    <h2>Part 3 - movable area</h2>

    <div class="area" appMovableArea>
        <div class="box" appMovable>
            Movable 1
        </div>

        <div class="box" appMovable>
            Movable 2
        </div>
    </div>

    <button (click)="add()">Add</button>

    <h2>Part 4 - the draggable helper</h2>

    <div class="box" appDraggable>
        Drag me!

        <div class="box helper" *appDraggableHelper>
            Dragging
        </div>
    </div>
</section>

<section>
    <h2>Part 5 - the sortable list</h2>

    <h3>Vertical</h3>

    <ul class="ul-test" appSortableList (sort)="sort($event)">
        <li *ngFor="let box of sortableList" class="box" appSortable>
            {{ box }}
            <div class="box" *appDraggableHelper>{{ box }}</div>
        </li>
    </ul>

    <h3>Horizontal</h3>

    <ul class="horizontal" appSortableList (sort)="sort($event)">
        <li *ngFor="let box of sortableList" class="box" appSortable>
            {{ box }}
            <div class="box" *appDraggableHelper>{{ box }}</div>
        </li>
    </ul>
</section>

<ng-template #errorBlock>
    <section class="row warning justify-content-center" @errorHeader>
        <ngb-alert [dismissible]="false" class="col-8">
            <picture class="col-3">
                <img src="../../../assets/images/pb-icon-wrn.png" alt="Purple Board Icon">
            </picture>
            <h1 class="col-7 offset-1">
                No Cards
            </h1>
        </ngb-alert>
    </section>
</ng-template>