<!-- Navigation -->
<ng2-slim-loading-bar color={{color}} [height]="'5px'"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-md navbar-custom sticky-top" [@changeState]="switchstate">
    <div class="container-fluid">
        <span class="navbar-brand">
            <a routerLink="/home">
                <img class="logo" src="./assets/images/logo4.png" alt="logo picture" (click)="scrollTop()">
            </a>
        </span>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <i class="fa fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" data-toggle="collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/home" (click)="setColor('black'); scrollTop();">
                        Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/boards" (click)="setColor('purple'); scrollTop();">
                        Purple Board</a>
                </li>
                <li *ngIf="auth.isAdmin()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/admin" (click)="setColor('blue'); scrollTop();">
                        Admin</a>
                </li>
                <li *ngIf="!auth.isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <button class="btn btn-inverse" (click)="loginModal.open('home'); scrollTop();">
                        Login</button>
                </li>
                <li *ngIf="auth.isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/profile" (click)="scrollTop();">Profile{{ auth.getUserDetails()?.firstname }} {{ auth.getUserDetails()?.lastname }}</a>
                </li>
                <li *ngIf="auth.isLoggedIn()" class="nav-item" routerLinkActive="active">
                    <button class="btn btn-inverse" (click)="auth.logout()">
                        Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="page" [@routerAnimations]="prepareRouteTransition(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>

    <footer-app></footer-app>
</div>

<app-login-dialog></app-login-dialog>