<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-custom sticky-top" [@changeState]="switchstate">
    <div class="container-fluid">
        <span class="navbar-brand">
            <a routerLink="/home">
                <img class="logo" src="/assets/images/logo3.png" alt="logo picture">
            </a>
        </span>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <i class="fa fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" data-toggle="collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/home" (click)="setColor('black')">
                        Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/contacts" (click)="setColor('green')">
                        Contacts</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/purpleboard" (click)="setColor('purple')">
                        Purple Board</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/admin" (click)="setColor('blue')">
                        Admin</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <button class="btn btn-inverse" (click)="loginModal.open()">
                        Login</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="page" [@routerAnimations]="prepareRouteTransition(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>

    <footer-app></footer-app>
</div>

<app-login-dialog></app-login-dialog>