/*---Navigation Section --*/

a.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.logo {
    height: 15% !important;
    width: 15%;
}

.btn:focus {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
}

.navbar {
    padding: .3rem;
    max-height: 15vh;
}

/* change the brand and text color */

.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
}

/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.custom-toggler.navbar-toggler {
    border-color: #b4b4b4;
    height: auto;
    width: auto;
    color: #f6f6f6;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../assets/images/menu-icon2.png");
    height: 100%;
    width: 50px;
}

.navbar-nav li {
    padding-right: 25px;
}

.nav-link {
    font-size: 1.1em !important;
}

/* change the background color */

.navbar-custom {
    background-color: #3f3f3f;
}

@media (max-width: 576px) {
    .navbar-brand {
        margin-right: 0;
    }
    .custom-toggler.navbar-toggler {
        font-size: 0.8rem;
    }
}