<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/user-create']">
    <mat-icon>Add User</mat-icon>
  </a>
</div>
<div class="container-fluid col-12">
  <div class="example-container mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <ng-container matColumnDef="regDate">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element" class="regDate-col"> {{element.registration_date}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element" class="id-col"> {{element._id}} </td>
      </ng-container>
      <!-- Title Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> Firstname </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>

      <!-- Author Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Lastname </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/user-details/', row._id]"></tr>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </table>
  </div>
</div>